<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Package2" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="f2da3d57-cc7d-45cb-bd2e-aa17ea6f4c00">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
