<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeChat.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EyeChat.MySettings>
            <setting name="UserName" serializeAs="String">
                <value>EyeChat</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>Clair</value>
            </setting>
            <setting name="AppColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="AppColorString" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="AppSizeDisplay" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>DEBUG</value>
            </setting>
            <setting name="CtrlF9" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="CtrlF10" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="CtrlF11" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="CtrlF12" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="AltF9" serializeAs="String">
                <value>e</value>
            </setting>
            <setting name="AltF10" serializeAs="String">
                <value>f</value>
            </setting>
            <setting name="AltF11" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="AltF12" serializeAs="String">
                <value>h</value>
            </setting>
            <setting name="CtrlF9Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlF10Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlF11Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlF12Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AltF9Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AltF10Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AltF11Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AltF12Enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </EyeChat.MySettings>
    </userSettings>
</configuration>