<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeChat.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EyeChat.MySettings>
            <setting name="UserName" serializeAs="String">
                <value>EyeChat</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>Clair</value>
            </setting>
            <setting name="AppColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="AppColorString" serializeAs="String">
                <value>Red</value>
            </setting>
            
<Setting Name="AppSizeDisplay" Type="System.Int32" Scope="User">
    <Value Profile="(Default)">12</Value>
</Setting>
               
            <setting name="DebugLevel" serializeAs="String">
                <value>DEBUG</value>
            </setting>
            <setting name="CtrlF9" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="CtrlF10" serializeAs="String">
                <value>b</value>
            </setting>
            <setting name="CtrlF11" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="CtrlF12" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="ShiftF9" serializeAs="String">
                <value>e</value>
            </setting>
            <setting name="ShiftF10" serializeAs="String">
                <value>f</value>
            </setting>
            <setting name="ShiftF11" serializeAs="String">
                <value>g</value>
            </setting>
            <setting name="ShiftF12" serializeAs="String">
                <value>h</value>
            </setting>
            <setting name="CtrlF9Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlF10Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlF11Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlF12Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftF9Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftF10Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftF11Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftF12Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UniqueId" serializeAs="String">
                <value />
            </setting>
            <setting name="Id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoomDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoomDisplayStr" serializeAs="String">
                <value>Collapsed</value>
            </setting>
            <setting name="RoomDisplayInverted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SizeDisplayUsers" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RoomNameDisplayUsers" serializeAs="String">
                <value>Collapsed</value>
            </setting>
            <setting name="NameRoomDisplayUsers" serializeAs="String">
                <value>Collapsed</value>
            </setting>
            <setting name="NameDisplayUsers" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="AppNameDisplay" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsName" serializeAs="String">
                <value />
            </setting>
            <setting name="SecretaryMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoctorMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlanningMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlanningMode2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlanningName2" serializeAs="String">
                <value>Benoit</value>
            </setting>
            <setting name="OrthoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdvanvedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAvatar" serializeAs="String">
                <value />
            </setting>
            <setting name="NFCMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F5Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F5Page1" serializeAs="String">
                <value>REFRACTION</value>
            </setting>
            <setting name="F5Text1" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Page2" serializeAs="String">
                <value>LENTILLES</value>
            </setting>
            <setting name="F5Text2" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Page3" serializeAs="String">
                <value>PATHOLOGIES</value>
            </setting>
            <setting name="F5Text3" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Page4" serializeAs="String">
                <value>ORTHOPTIE</value>
            </setting>
            <setting name="F5Text4" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Page5" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Text5" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F6Page1" serializeAs="String">
                <value>REFRACTION</value>
            </setting>
            <setting name="F6Text1" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Page2" serializeAs="String">
                <value>LENTILLES</value>
            </setting>
            <setting name="F6Text2" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Page3" serializeAs="String">
                <value>PATHOLOGIES</value>
            </setting>
            <setting name="F6Text3" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Page4" serializeAs="String">
                <value>ORTHOPTIE</value>
            </setting>
            <setting name="F6Text4" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Page5" serializeAs="String">
                <value>TRAITEMENT</value>
            </setting>
            <setting name="F6Text5" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F7Page1" serializeAs="String">
                <value>REFRACTION</value>
            </setting>
            <setting name="F7Text1" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Page2" serializeAs="String">
                <value>LENTILLES</value>
            </setting>
            <setting name="F7Text2" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Page3" serializeAs="String">
                <value>PATHOLOGIES</value>
            </setting>
            <setting name="F7Text3" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Page4" serializeAs="String">
                <value>ORTHOPTIE</value>
            </setting>
            <setting name="F7Text4" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Page5" serializeAs="String">
                <value>TRAITEMENT</value>
            </setting>
            <setting name="F7Text5" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F8Page1" serializeAs="String">
                <value>REFRACTION</value>
            </setting>
            <setting name="F8Text1" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Page2" serializeAs="String">
                <value>LENTILLES</value>
            </setting>
            <setting name="F8Text2" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Page3" serializeAs="String">
                <value>PATHOLOGIES</value>
            </setting>
            <setting name="F8Text3" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Page4" serializeAs="String">
                <value>ORTHOPTIE</value>
            </setting>
            <setting name="F8Text4" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Page5" serializeAs="String">
                <value>TRAITEMENT</value>
            </setting>
            <setting name="F8Text5" serializeAs="String">
                <value />
            </setting>
        </EyeChat.MySettings>
    </userSettings>
</configuration>