<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="SetupProject2" Language="1033" Version="1.0.0.0" Manufacturer="" UpgradeCode="beed2033-8ef7-46b1-a63f-2c259b38940e" InstallerVersion="200">
		

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		

		<Feature Id="ProductFeature" Title="SetupProject2" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Package>

	<Fragment>
			<StandardDirectory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject2" />
			</StandardDirectory>
		</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
